extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='intent:///#Intent;scheme=mybhn;package=com.brighthouse.mybhndist;end')  Take a QR code
  br
  a(href='intent://#Intent;scheme=mybhn;package=com.brighthouse.mybhndist;S.browser_fallback_url=market%3A%2F%2Fdetails%3Fid%3Dcom.brighthouse.mybhn;end')  Part Two
  br
  a(href='mybhn://')  Test 3



  // button to Open App to specific screen for existing app users
  form(action='mybhn://', target='_blank')
    input(type='submit', value='Open mybhn')
