extends layout

block content

  a(href='intent://#Intent;scheme=mybhn;package=com.brighthouse.mybhndist;S.browser_fallback_url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.brighthouse.mybhn;end')  Open My Spectrum App

