doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width,minimum-scale=1.0, maximum-scale=1.0')
    title Site Name
    style.
      @media screen and (max-device-width: 480px) {
        body {
          -webkit-text-size-adjust: none
        }
      }
    script.
      window.onload = function () {
        <!-- Deep link URL for existing users with app already installed on their device -->
        window.location = 'youtube://';
        <!-- Download URL (TUNE link) for new users to download the app -->
        setTimeout("window.location = 'https://spectrum.net';", 1000);
      }
  body
    block content
