doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width,minimum-scale=1.0, maximum-scale=1.0')
    title Site Name
    style.
      @media screen and (max-device-width: 480px) {
        body {
          -webkit-text-size-adjust: none
        }
      }
    script(src='/js/ua-parser.min.js', type='text/javascript')
    script.
      var parser = new UAParser();
      var device = parser.getDevice().type;
      var os = parser.getOS().name
      var iosName = 'mybhn';
      var iosId = 942608209;
      var androidName = 'myspectrum';
      var androidId = 'com.spectrum.myspectrum';

      var getStoreURLiOS = function (appName, appId) {
        var baseurl = "itms-apps://itunes.apple.com/app/";
        return (id && name) ? (baseurl + appName + "/id" + appId + "?mt=8") : null;
      }

      var getStoreURLAndroid = function (appId) {
        var baseurl = "market://details?id=";
        return appId ? (baseurl + appId) : null;
      }

      window.onload = function () {
        if(device.toLowerCase() === 'mobile' || device.toLowerCase() === 'tablet') {
          try {
            if (os.toLowerCase() === 'ios') {
              window.location.href = iosName + '://';
            }
            if (os.toLowerCase() === 'android') {
              window.location.href = androidName + '://';
            }
          } catch (e) {
            if (os.toLowerCase() === 'ios'){
              alert(e);
              window.location.href = getStoreURLiOS(iosName, iosId);
            }
            if(os.toLowerCase() === 'android') {
              window.location.href = getStoreURLAndroid(androidId);
            }
          }
        } else {
          window.location.href = 'https://spectrum.net';
        }
      }
  body
    block content
